<form [formGroup]="myForm" class="flex flex-col gap-3 w-full">
  <ng-container *ngFor="let field of formFields; trackBy: trackByFn">
    <div class="flex flex-col gap-2 w-full">
      <label class="font-medium">{{field.name | titlecase}}</label>
      <input class="px-2 py-1 border rounded w-full" [type]="field.type" name="name" [placeholder]="field.placeholder"
             [formControlName]="field.controlName"/>
      <app-error-message *ngIf="myForm.get(field.controlName) !== null" [errors]="field.errors"
                         [control]="myForm.get(field.controlName)!"/>
    </div>
  </ng-container>
  <button (click)="login()"
          class="mt-5 text-center bg-black text-amber-50 w-full px-2 py-1 hover:bg-[rgba(0,0,0,0.8)] flex gap-2 justify-center items-center">
    <span>Login</span>
    <div *ngIf="loading" class="spinner"></div>
  </button>
  <div class="flex justify-center gap-2">
    <span>Dont have an account? </span>
    <a class="text-orange-700 underline cursor-pointer" routerLink="/signup">Sign Up</a>
  </div>
</form>
