<form [formGroup]="myForm" class="flex flex-col gap-3 w-full">
  <ng-container *ngFor="let field of formFields; trackBy: trackByFn">
    <div class="flex flex-col gap-2 w-full">
      <label class="font-medium">{{field.name | titlecase}}</label>
      <input class="px-2 py-1 border rounded w-full" [type]="field.type" name="name" [placeholder]="field.placeholder"
             [formControlName]="field.controlName"/>
      <app-error-message *ngIf="myForm.get(field.controlName) !== null" [errors]="field.errors"
                         [control]="myForm.get(field.controlName)!"/>
    </div>
  </ng-container>
  <div class="flex flex-col gap-3 w-full">
    <label class="font-medium">Tipo de Usuario</label>
    <ng-select formControlName="typeUser" [items]="['ADMIN', 'COMMON']"/>
    <app-error-message *ngIf="myForm.get('typeUser') !== null" [errors]="['required']"
                       [control]="myForm.get('typeUser')!"/>
  </div>
  <button class="w-full bg-black text-white rounded px-2 py-1 text-center">Signup</button>
</form>
