<nav class="flex justify-between items-center px-5 py-5 lg:px-[10vw] bg-orange-600">
  <span class="text-3xl font-bold">Company Name</span>
  <a *ngIf="!(user$ | async)" routerLink="/login" role="button" class="cursor-pointer flex gap-2 items-center">
    <span>Login</span>
    <div class="w-[45px] h-[45px] rounded-full">
      <img src="assets/profile-user.png" alt="user icon" class=" w-full h-full "/>
    </div>
  </a>

  <a *ngIf="user$ | async as user" (click)="logout()" routerLink="/login" role="button"
     class="cursor-pointer flex gap-2 items-center">
    <span>Logout {{user.name}}</span>
    <div class="w-[45px] h-[45px] rounded-full">
      <img src="assets/profile-user.png" alt="user icon" class=" w-full h-full "/>
    </div>
  </a>
</nav>
<div class="p-5 flex justify-center">
  <app-shipping-calculator-form (cost)="showCost($event)"
                                class="flex w-full justify-center"></app-shipping-calculator-form>
</div>

<div *ngIf="cost" class="flex justify-center items-center mt-5">
  <div class="flex flex-col justify-center items-center text-xl relative border p-5 rounded">
    <div>The cost is</div>
    <div class="text-3xl">
      <span *ngIf="(user$ | async)?.userType === 'ADMIN'"
            class="font-bold top-0 -left-6 text-purple-900 absolute -rotate-45 text-xl">
        PRO
      </span>
      <span *ngIf="(user$ | async)?.userType === 'COMMON'"
            class="font-bold top-0 -left-6 text-orange-700 absolute -rotate-45 text-xl">
        USER
      </span>
      <span *ngIf="!(user$ | async)?.userType"
            class="font-bold top-0 -left-6 text-gray-700 absolute -rotate-45 text-xl">
        UNDEF
      </span>
      <span>${{cost}}</span>
    </div>
  </div>
</div>
